:root{
    /*COLORS*/
  --c1-white: #D5EAFF;
  --c2: #B9D6F2;
  --c3: #76AFF9;
  --c4: #468DF1;
  --c5: #0258AF;
  --c6: #003F96;
  --c7: #001C59;
  --c8: #061A40;
  --c9-black: #010813;
  --c10-grey: #546786;
}
* {box-sizing: border-box}
.content {
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--c1-white);
}
.content {/*This is the code for the font, I got from google fonts*/
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /*font-weight: <weight>;*/
  font-style: normal;
  font-variation-settings:"wdth" 100;
}


/*header*/
header{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  background-color: var(--c2);
  overflow: hidden;
}
/*<title_box>*/
.title_box{
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title_box p{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*</title_box>*/
/*<nav>*/
.navbar {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar a {
  width: 25%; /* Four links of equal widths */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--C1-white);
  text-decoration: none;
  font-size: 17px;
}
.navbar a.active {
  background-color: var(--c4);
}
.navbar a:hover {
  background-color: var(--c3);
  color: var(--c8);
}
/*</nav>*/
/*</icon>*/
.icon_box{
  width: 16.66%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.icon_box a{
  width: auto;
  height: 100%;
  border-radius: 50%;
  border: 3px solid var(--c4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_box a img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.icon_box a:hover{
  border: 3.5px solid var(--c3);
}
.icon_box a:hover {
  transform: scale(1.2); 
  transition: all
}
/*</icon>*/
/*If screen width is less than 800px, changes these styles*/
@media screen and (max-width: 800px) {
  /*<nav>*/
  header{
    display: block;
  }
  .navbar a{
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
  .navbar a:hover {
    background-color: var(--c5);
    color: var(--c3);
  }
  .navbar a.active {
    background-color: var(--c3);
  }
  /*</nav>*/
}
/*</header>*/
/*<main>*/
.ribbon{
  height: 600px;
  display: grid;
  overflow: hidden;
}
/*<toprow>*/
#toprow{
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: var(--c5);
}
.big_text_box{
  background-color: var(--c2);
  grid-column: 2 / 7;
  grid-row: 2 / 4;
  display: flex;
  justify-content: center;
  padding: 12px;
}
#portrait_box{
  height: 100%;
  width: 100%;
  grid-column: 8 / 11;
  grid-row: 1 / 11;
  display: flex;
  justify-content: right;
  padding: 40px;
}
#portrait img{
  height: 100%;
  width: auto;
  object-fit: contain;
  
}
/*</toprow>*/
/*<fav_projects>*/
#fav_projects{
  background-color: var(--c4);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.fav_proj_box { /*this selects all 3 fav boxes indivitually*/
  background-color: var(--c2);
  border: 10px black;
  transition: transform .5s;
  box-shadow: 5px 5px 10px var(--c10-grey);
  /*width: 100%;
  margin: 200px 0;*/
}
.fav_proj_box:hover{
  opacity: .6;
  scale: (1.1);
}
#fav_proj_box1{ /*Location of Box1*/
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}
#fav_proj_box2{ /*Location of Box2*/
  grid-column: 5 / 7;
  grid-row: 2 / 4;
}
#fav_proj_box3{ /*Location of Box3*/
  grid-column: 8/ 10;
  grid-row: 2 / 4;
}
/*</fav_projects>*/
/*<footer>*/
footer{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  background-color: var(--c2);
  overflow: hidden;
}
/*</footer>*/
/*</main>*/
/*<ice.html>*/
#Prophet_Apostle, #Flags_Positioning{
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: var(--c5);
}
#Devo_Holiday, #Gallery_Form{
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: var(--c4);
}
.medium_text_box{
  background-color: var(--c2);
  grid-column: 1 / 6;
  grid-row: 2 / 4;
  display: flex;
  justify-content: center;
  padding: 12px;
}
/*<Prophet>*/
#Prophet, #Flags, #Devo, #Gallery{
  grid-column: 2 / 6;
  grid-row: 1 / 12;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
#Apostle, #Positioning, #Holiday, #Form{
  grid-column: 7 / 11;
  grid-row: 1 / 12;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
#Prophet h3, #Apostle h3, #Flags h3, #Positioning h3, #Devo h3, #Holiday h3,#Gallery h3, #Form h3{
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: end;
}
#Prophet a, #Apostle a, #Flags a, #Positioning a, #Devo a, #Holiday a, #Gallery a, #Form a{
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: end;
}
#Prophet p, #Apostle p, #Flags p, #Positioning p, #Devo p, #Holiday p,#Gallery p, #Form p{
  
}


