:root{
    /*COLORS*/
  --c1-white: #D5EAFF;
  --c2: #B9D6F2;
  --c3: #76AFF9;
  --c4: #468DF1;
  --c5: #0258AF;
  --c6: #003F96;
  --c7: #001C59;
  --c8: #061A40;
  --c9-black: #010813;
  --c10-grey: #546786;
}
* {box-sizing: border-box}
.content {
  max-width: 100%;;
  margin: 0 auto;
  background-color: var(--c1-white);
}
.content {/*This is the code for the font, I got from google fonts*/
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /*font-weight: <weight>;*/
  font-style: normal;
  font-variation-settings:"wdth" 100;
}


/*header*/
header{
  width: 100%;
  max-height: 45px;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  background-color: var(--c2);
}
/*<title_box>*/
.title_box{
  grid-column: 1 / 4;
  overflow: hidden;
}
.title{
  display: flex;
  justify-content: center;
  padding: 10px;
}
/*</title_box>*/
/*<nav>*/
.navbar {
  grid-column: 4 / 10;
  background-color: var(--c2);
  overflow: auto;
  border: 5px black;
  overflow: hidden;
}
.navbar a {
  float: left;
  padding: 10px;
  color: var(--C1-white);
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four links of equal widths */
  text-align: center;
}
.navbar a.active {
  background-color: var(--c3);
}
.navbar a:hover {
  background-color: var(--c5);
  color: var(--c3);
}
/*</nav>*/
/*</icon>*/
.icon_box{
  grid-column: 10 / 12;
  overflow: hidden;
}
.icon{
  width: 100%;
  display: flex;
}
.icon a{
  /*border: 4px solid #fff;*/
  width: 50%;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.icon a img{
  width: 50%;
}
/*</icon>*/
/*If screen width is less than 800px, changes these styles*/
@media screen and (max-width: 800px) {
  /*<nav>*/
  header{
    display: block;
  }
  .navbar a{
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
  .navbar a:hover {
    background-color: var(--c5);
    color: var(--c3);
  }
  .navbar a.active {
    background-color: var(--c3);
  }
  /*</nav>*/
}
/*</header>*/
/*<main>*/
/*
.ribbon { /*this should select each ribbon*
  
  background-color: pink;
}
*/


/*<toprow>*/
#toprow{
  background-color: var(--c5);
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 600px;
}
#introduction_box{
  background-color: var(--c2);
  grid-column: 2 / 7;
  grid-row: 2 / 5;
  display: flex;
  justify-content: center;
  padding: 12px;
}

#portrait_box{
  /*max-height: 600px;*/
  background-color: black;
  grid-column: 8 / 12;
  height: auto;
  overflow: hidden;
}
#portrait{
  
  background-image: url('images/portrait/Balboa/Park/Headshots-165.jpeg');
}
/*</toprow>*/
/*<fav_projects>*/
#fav_projects{
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}
.fav_proj_box { /*this selects all 3 fav boxes indivitually*/
  
  border: 10px black;
  transition: transform .5s;
  box-shadow: 5px 5px 10px var(--c10-grey);
  /*width: 100%;
  margin: 200px 0;*/
}
.fav_proj_box:hover{
  opacity: .6;
  scale: (1.1);
}
#fav_proj_box1{ /*Location of Box1*/
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}
#fav_proj_box2{ /*Location of Box2*/
  grid-column: 5 / 7;
  grid-row: 1 / 2;
}
#fav_proj_box3{ /*Location of Box3*/
  grid-column: 8/ 10;
  grid-row: 1 / 2;
}
/*</fav_projects>*/
/*</main>*/